# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Temporary archives & raw 3D assets
*.zip
airplane_model/
earth_model/

# Large raw screen recording (Optimized GIF is tracked in assets/)
*.mp4

# Editor & System Files
.ipynb_checkpoints/
.vscode/
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
